#welcome-div {
  margin: auto;
  width: 50%;
  border: 3px solid rgb(11, 0, 221);
  padding: 10px;
}

#ad {
  font-weight: 200;
  align-content: center;
  color: white;
}

img {
  margin: auto;
}

body {
    background-color: rgb(33, 31, 31);
}